// Links
a {
  text-decoration: none;
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $color__link-hover;
    outline: 0;
  }
}

// Primary nav
.nav-primary {
  .nav-link {
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    color: $color__text-main;
    display: inline-block;
    padding: 0.5rem 0.25rem;
    margin: 0 0.5rem;
    border-bottom: 3px;
    border-color: transparent;

    &.active {
      border-bottom: 3px solid #1e272e;
    }
  }

  .nav-link:first-child {
    font-style: normal;
    font-weight: 900;
    margin-right: 4rem;
    margin-left: 0;
  }

  .nav-link:last-child {
    margin-right: 0;
  }
}

@media (max-width: 36rem) {
  .nav-primary {
    .nav-link:first-child {
      margin-right: 0;
      margin-left: 0;
      display: block;
    }

    .nav-link:nth-child(2) {
      margin-left: 0;
    }
  }
}

.post-link {
  color: $color__dark-blue;

  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $color__dark-blue;
  }
}
